@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Guatemala<br />
    Centroamerica<br />
    <abbr title="Phone">Telefono:</abbr>
    +502 ####-###
</address>

<address>
    <strong>Capacitaciones:</strong>   <a href="mailto:Capacitaciones@mjm13.com">capacitaciones@mjm13.com</a><br />
    <strong>Peticiones:</strong> <a href="mailto:Peticiones@mjm13.com">peticiones@mj13.com</a>
</address>