@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: #703e8f">
    <h1 style="color: #c03b7a;">Ministerio J13</h1>
    <p style="color: #eedd79;">
        ¡Bienvenidos sean todos a Ministerio J13! Esperamos que
        puedan sentirse en familia y encontrar apoyo en su camino como lideres.
    </p>
    <p>
        <a href="https://www.biblegateway.com/passage/?search=Juan+13%3A13-15&version=NVI" class="btn btn-primary btn-lg">
            Ver Cita Biblica &raquo;
        </a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Jueves</h2>
        <p>
            La idea de una reunion los dias jueves es tener un Estudio Biblico
            que nos ayude a fortalecer nuestros conocmientos y estar capacitados
            para realizar diferentes actividades practicas que pueden ser utilizadas
            como herramientas en nuestro transcurso como lideres, siervos de Cristo.
        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/GBCEstudioBiblico">Capacitaciones &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Domingo</h2>
        <p>
            ¡El Dia del Señor! Reunirnos este dia es muy grato y buscamos fortalecer
            nuestra relacion personal con Dios disfrutando de su presencia a traves
            de su palabra, oracion y un buen tiempo de alabanza a El. Tambien compartimos
            buenos momentos y, como parte de nuestro programa, puedes participar demostrando
            los dones que Dios te ha dado. Puedes contactarte con nosotros e involcurarte
            en el link de abajo.
        </p>
        <p><a class="btn btn-default" href="mailto:Participacion@mjm13.com">Unirme &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Redes Sociales</h2>
        <p>
            Si eres de esas personas que les gusta estar informadas y pasar
            tiempo en las redes sociales, este es tu espacio. Visita nuestra pagina
            de Facebook, Twitter, Instagra, entre otras. En nuestras redes compartimos
            contenido que te complementa nuestros otros programas, ayudandonos a crecer
            espiritualmente, seguir capacitandonos y estar al tanto de todas nuestras
            actividades, siguenos en nuestras redes como MJ-13
        </p>
        <p><a class="btn btn-default" href="https://facebook.com">Siguenos &raquo;</a></p>
    </div>
</div>
